In [6]:
import requests
import pandas as pd

url = "https://free-nba.p.rapidapi.com/players"

querystring = {"page": "0", "per_page": "25"}

headers = {
    "X-RapidAPI-Key": "12d4c64124mshfbf72eb6ce24e35p183d15jsn354ab98aca9e",
    "X-RapidAPI-Host": "free-nba.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Convert JSON response to DataFrame
    data = response.json()
    df = pd.DataFrame(data["data"])
else:
    # Print the error status code and text
    print(f"Error: {response.status_code} - {response.text}")

In [7]:
df

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
0,14,Ike,NaN,NaN,Anigbogu,C,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",NaN
1,25,Ron,NaN,NaN,Baker,G,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",NaN
2,47,Jabari,NaN,NaN,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
3,67,MarShon,NaN,NaN,Brooks,G,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
4,71,Lorenzo,NaN,NaN,Brown,G,"{'id': 28, 'abbreviation': 'TOR', 'city': 'Tor...",NaN
5,90,Omri,NaN,NaN,Casspi,F,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
6,1,Alex,6.0,6.0,Abrines,G,"{'id': 21, 'abbreviation': 'OKC', 'city': 'Okl...",200.0
7,119,Tyler,NaN,NaN,Davis,C,"{'id': 21, 'abbreviation': 'OKC', 'city': 'Okl...",NaN
8,149,Keenan,NaN,NaN,Evans,G,"{'id': 9, 'abbreviation': 'DET', 'city': 'Detr...",NaN
9,179,Marcin,NaN,NaN,Gortat,C,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",NaN
10,1593,Andrew,NaN,NaN,Bogut,F,"{'id': 10, 'abbreviation': 'GSW', 'city': 'Gol...",NaN
11,241,Amir,6.0,9.0,Johnson,C-F,"{'id': 23, 'abbreviation': 'PHI', 'city': 'Phi...",240.0
12,392,Malachi,NaN,NaN,Richardson,G,"{'id': 29, 'abbreviation': 'UTA', 'city': 'Uta...",NaN
13,281,Zach,NaN,NaN,Lofton,G,"{'id': 9, 'abbreviation': 'DET', 'city': 'Detr...",NaN
14,263,Kosta,7.0,0.0,Koufos,C,"{'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...",245.0
15,382,Billy,NaN,NaN,Preston,F,"{'id': 6, 'abbreviation': 'CLE', 'city': 'Clev...",NaN
16,384,Zhou,NaN,NaN,Qi,F-C,"{'id': 11, 'abbreviation': 'HOU', 'city': 'Hou...",NaN
17,388,Zach,NaN,NaN,Randolph,F,"{'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...",NaN
18,430,DJ,NaN,NaN,Stephens,G-F,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
19,437,Milos,NaN,NaN,Teodosic,G,"{'id': 13, 'abbreviation': 'LAC', 'city': 'LA'...",NaN
20,448,Gary,NaN,NaN,Trent Jr.,G,"{'id': 25, 'abbreviation': 'POR', 'city': 'Por...",NaN
21,494,Michael,NaN,NaN,Smith,,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
22,495,John,NaN,NaN,Morton,,"{'id': 6, 'abbreviation': 'CLE', 'city': 'Clev...",NaN
23,496,Howard,NaN,NaN,Wright,,"{'id': 1, 'abbreviation': 'ATL', 'city': 'Atla...",NaN
24,497,Michael,NaN,NaN,Ansley,,"{'id': 22, 'abbreviation': 'ORL', 'city': 'Orl...",NaN

In [8]:
import requests
import pandas as pd

url = "https://planets-info-by-newbapi.p.rapidapi.com/api/v1/planets/"

headers = {
    "X-RapidAPI-Key": "12d4c64124mshfbf72eb6ce24e35p183d15jsn354ab98aca9e",
    "X-RapidAPI-Host": "planets-info-by-newbapi.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Convert JSON response to DataFrame
    data = response.json()
    df = pd.DataFrame(data)
else:
    print(f"Error: {response.status_code} - {response.text}")

In [9]:
df

,planetOrder,name,description,basicDetails,source,wikiLink,imgSrc,id
0,1,Mercury,Mercury is the smallest planet in the Solar Sy...,"{'volume': '6.083 x 10^10 km^3', 'mass': '3.30...",Wikipedia,https://en.wikipedia.org/wiki/Mercury_(planet),{'img': 'https://upload.wikimedia.org/wikipedi...,1
1,2,Venus,Venus is the second planet from the Sun and is...,"{'volume': '9.2843 x 10^11 km^3', 'mass': '4.8...",Wikipedia,https://en.wikipedia.org/wiki/Venus,{'img': 'https://upload.wikimedia.org/wikipedi...,2
2,3,Earth,Earth is the third planet from the Sun and the...,"{'volume': '1.08321 x 1012 km3', 'mass': '5.97...",Wikipedia,https://en.wikipedia.org/wiki/Earth,{'img': 'https://upload.wikimedia.org/wikipedi...,3
3,4,Mars,Mars is the fourth planet from the Sun and the...,"{'volume': '1.63118 x 10^11 km^3', 'mass': '6....",Wikipedia,https://en.wikipedia.org/wiki/Mars,{'img': 'https://upload.wikimedia.org/wikipedi...,4
4,5,Jupiter,Jupiter is the fifth planet from the Sun and t...,"{'volume': '1.4313 x 10^15 km^3', 'mass': '1.8...",Wikipedia,https://en.wikipedia.org/wiki/Jupiter,{'img': 'https://upload.wikimedia.org/wikipedi...,5
5,6,Saturn,Saturn is the sixth planet from the Sun and th...,"{'volume': '8.2713 x 10^14 km^3', 'mass': '8.2...",Wikipedia,https://en.wikipedia.org/wiki/Saturn,{'img': 'https://upload.wikimedia.org/wikipedi...,6
6,7,Uranus,Uranus is the seventh planet from the Sun. Its...,"{'volume': '6.833 x 1013 km^3', 'mass': '(8.68...",Wikipedia,https://en.wikipedia.org/wiki/Uranus,{'img': 'https://upload.wikimedia.org/wikipedi...,7
7,8,Neptune,Neptune is the eighth and farthest-known Solar...,"{'volume': '6.253 x 1013 km^3', 'mass': '1.024...",Wikipedia,https://en.wikipedia.org/wiki/Neptune,{'img': 'https://upload.wikimedia.org/wikipedi...,8